/*Painel tipos de Trabalhos */
.panel-work-type {
    width: 100%;
    height: 350px;
    clear: both;
}

.panel-work-type .container-min-img {
    float: left;
    padding: 30px 5px 5px;
    height: 350px;
    margin-bottom: 25px;
}

.panel-work-type .container-min-img img {
    width: 100%;
    height: 100%;
}
/* Fim Painel tipos de Trabalhos */

/* Segundo seção: Informações */
.section-informations {
    clear: both;
    height: 230px;
}
.section-informations .variant-logo img{
    margin-left: 25px;
    width: 400px;
    border: 1px solid #2467F2;
    float: left;
    padding: 5px;
}
.section-informations .text-informations {
    margin-left: 5px;
    float: left;
    width: 650px;
    padding: 10px 5px;
}
/*Fim segunda seção*/

/* Terceira Seção: Clientes */
 .section-client {
     height: 250px;
     padding-right: 25px;
     padding-left: 25px;
     clear: both;
 }
 .thumbnails {
    margin-top: 20px;
    height: 150px;
    width: auto;
    max-width: 150px;
    margin-left: 25%;
    float: left;

}

.thumbnails img {
    height: 150px;
    width: 150px;
}
/* Fim Terceira Seção */

/* Dividers*/
#works .divider-sections {
    width: 50%;
    border-radius: 0px 25px;
    margin: 25px auto;
    opacity: .9;
}
/* Dividers */