#team h2 {
    font-size: 42px;
    font-family: "Akaya";
    font-weight: bold;
    text-align: center;
}

#team .content {
    background-color: #FFF;
    clear: both;
    height: 600px;
}

#team .divider-title {
    border: #3e77e9 solid 2px;
    width: 600px;
    margin: 0 auto 25px;
    opacity: .9;
    border-radius: 0px 25px;
}

.profile-image {
    width: auto;
    height: auto;
    max-width: 250px;
}

.profile .profile-image-container {
    float: left;
}
.profile .profile-informations {
    float: left;
}
.profile2 .profile-image-container {
    float: right;
    margin-top: 25px;
}
.profile2 .profile-informations {
    float: right;
    margin-top: 25px;
    text-align: right;
}