/* Tamanho padrão para tablets*/
@media only screen and (max-width: 1000px) {
    #logo-top {
        left: 35%;
        opacity: 0.8;
    }

    .navbar-collapse {
        margin-top: 15px;
        background-color: #FD7400;
    }

    .menu-items ul li {
        padding: 5px 50px;
    }
    .menu-items ul li a {
        font-size: 24px;
    }

    .navbar-light .navbar-toggler {
        color: rgba(53, 155, 144, .9);
        border-color: rgba(53, 155, 144, .9);
        margin: 5px 0;
    }

    .body-container{
        width: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
    }

    #history, #work, #sac {
        width: 100vh;
        height: auto;
        padding: 25px 5px;
    }

    .history-image1 img {
        margin-top: 15px;
        float: none;
        width: 600px;
    }

    .text-informations {
        width: auto;
        float: none;
        font-size: 24px;
    }

    h4 {
        font-size: 30px;
        padding-top: 20px;
    }

    footer {
        width: 100vh;
    }
}

/* Tamanho padrão para smartphones*/
@media only screen and (max-width: 480px) {

    .copyright-mobile p {
        font-size: 14px;
    }
}