<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>6A Construções</title>
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/teste.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="../static/lib/OwlCarousel/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/lib/OwlCarousel/dist/assets/owl.theme.default.min.css">
    </head>
    <body>
        <header class="fixed-top">
            <div class="container logo-panel">
                <a href="teste.html"><img id="logo-top" class="logotipo" src="../lib/img/logo-menor.png" alt="Logo 6AConstruções"></a>
            </div>

            <div class="container panel-top">
                <div class="row">
                    <nav id="nav-menu-top">
                        <ul>
                            <li><a href="#history" class="history"><i class="fa fa-landmark menu-icons"></i>6A Construções</a></li>
                            <!--<li class="work"><a href="#work"><i class="fa fa-hiking menu-icons"></i>Trabalhos</a></li>-->
                            <li><a href="#contact" class="sac"><i class="fa fa-id-card menu-icons"></i>Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="body-container">

            <section id="history">
                <div class="history-content container content">
                    <div class="col-md2 history-image1">
                        <img id="logotipo" src="../lib/img/empresa.jpg" alt="Predio da empresa">
                    </div>
                    <div class="col-md-8 text-informations text-center">
                        <h4>A6 Construções</h4>

                        <p>A6 Construções LLC é uma empresa multinacional de serviços online e software dos Estados Unidos.
                            O A6 Construções hospeda e desenvolve uma série de serviços e produtos baseados 
                            na internet e gera lucro principalmente através da publicidade pelo 
                            AdWords. A A6 Construções é a principal subsidiária da Alphabet Inc.</p>
                    </div>
                </div>
            </section>

            <!--<section id="work">
                <div class="works container content">
                    <div class="row">
                        <h4 class="text-center">Alguns de nossos trabalhos</h4>
                        <hr class="divider-title">
                    </div>
    
                    <div class="row work-thumbnails text-center owl-carousel owl-theme">
                        <div class="item"> 
                            <div class="item-inner">
                                <img src="../lib/img/img1.jpg" alt="Construção">
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="../lib/img/img2.jpg" alt="Construção">
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="../lib/img/img3.png" alt="Construção">
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="../lib/img/img4.jpeg" alt="Construção">
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="../lib/img/img5.jpg" alt="Construção">
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <img src="../lib/img/img6.jpg" alt="Construção">
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->

            <section id="sac">
                <div class="sac content container">
                    <h4 class="text-center">Entre em Contato</h4>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Informe seu E-mail</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingName" placeholder="Nome">
                            <label for="floatingName">Informe seu Nome</label>
                        </div><br>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Digite sua mensagem aqui!</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                      </form>
                </div>
            </section>


            <footer>
                <div class="row-informations">
                    <div class="container">
                        <div class="col-md-2 col-logo text-center">
                            <img class="logotipo" src="../lib/img/logo-menor.png" alt="Logo Construtora">
                        </div>
                        <div class="col-md-10 col-informations text-center">
                            <div class="col-md-4 col-links">
                                <h4>Links</h4>
                                <div class="col-md-6 col-links">
                                    <ul class="list-unstyled menu-footer">
                                        <li><a href="History.html"><i class="fa fa-landmark footer-menu-icons"></i>6A Construções</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-links">
                                    <ul class="list-unstyled menu-footer">
                                        <li><a href="Contact.html"><i class="fa fa-id-card footer-menu-icons"></i>Contato</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-social-media text-center">
                                <h4>Redes Sociais</h4>
    
                                <ul class="list-unstyled social-media text-center">
                                    <li class="col-md-3"><a href="#"><i class="fab fa-instagram-square social"></i></a></li>
                                    <li class="col-md-3"><a href="#"><i class="fab fa-twitter-square social"></i></a></li>
                                    <li class="col-md-3"><a href="#"><i class="fab fa-facebook-square social"></i></a></li>
                                </ul>
                                <ul class="list-unstyled social-media text-center">
                                    <li class="col-md-3"><a href="#"><i class="fas fa-envelope-square social"></i></a></li>
                                    <li class="col-md-3"><a href="#"><i class="fa fa-phone-square-alt social"></i></a></li>
                                    <li class="col-md-3"><a href="#"><i class="fab fa-whatsapp-square social"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-links col-get-in-touch">
                                <h4>Localização</h4>
    
                                <address>
                                    <a href="#"><i class="fa fa-map-marker footer-contact"></i>Pirapora do Bom Jesus - SP, 06550-000</a><br/>
                                    &nbsp;&nbsp;
                                    <a href="#">R. Cecília Meireles,95 - Jardim Bom Jesus</a><br/>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row-copyright">
                    <div class="container">
                        <p class="copyright">Copyright © 6A Construções. All rights reserved.</p>
                        <p class="copyright p2">Created by LoftySolutionsTI</p>
                    </div>
                </div>
            </footer>
        </div>

        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/lib/OwlCarousel/dist/owl.carousel.min.js"></script>-
        <script src="https://kit.fontawesome.com/8d127811d6.js" crossorigin="anonymous"></script>

        <script>
            var offsetHistory = $("#history").offset().top;
            var offsetSac = $("#sac").offset().top;
            var history = $(".history");
            var sac = $(".sac");

            $(document).on('scroll', function () {
                if (offsetHistory <= $(window).scrollTop()) {
                    history.addClass("active");
                } else {
                    history.removeClass("active");
                }
            });

            $(document).on('scroll', function () {
                if (offsetSac <= $(window).scrollTop()) {
                    sac.addClass("active");
                    history.removeClass("active");
                } else {
                    sac.removeClass("active");
                }
            });
        </script>
    </body>
</html>